@property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
}

.Body {
 .banner {
        margin: 10px 0 50px;
        background: url("../assets/landing-big.png");
        background-size: 100% auto;

        @media screen and (max-width: 1300px) {
            background-size: 150% auto;
        }
        @media screen and (max-width: 950px) {
            background-size: 200% auto;
        }

        @media screen and (max-width: 430px) {
            height: 150px;
        }
        width: 100%;
        background-size: cover;
        height: 310px;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;

        .bannerTitle {
            box-sizing: border-box;
            position: absolute;
            bottom: -20px;
            margin: 0;
            padding: 0 300px;
            font-weight: 400;
            font-size: 35px;
            width: 100%;
            text-align: center;

            @media screen and (max-width: 740px) {
                font-size: 25px;
                bottom: -15px;
                padding: 0 8px;
            }
        }

        @media screen and (max-width: 610px) {
            margin-bottom: 8px;
        }
    }

    .title {
        padding: 0 8px;
        font-size: 30px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 16px 300px;

        @media screen and (max-width: 1300px) {
            padding: 16px 20px;
        }

        @media screen and (max-width: 610px) {
            gap: 20px;
        }

        .mainLink {
            margin: 20px auto 0;
            --angle: 90deg;
            color: #fff;
            text-decoration: none;
            width: 300px;
            box-sizing: border-box;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            letter-spacing: 2px;
            display: block;
            padding: 20px;
            box-sizing: border-box;
            border: 2px solid;
            border-image: conic-gradient(
                    from var(--angle),
                    rgba(168, 239, 255, 0.1),
                    rgba(168, 239, 255, 1) 0.1turn,
                    rgba(168, 239, 255, 1) 0.15turn,
                    rgba(168, 239, 255, 0.1) 0.25turn
                )
                30;
            animation: borderRotate 2.5s linear infinite forwards;

            @media screen and (max-width: 610px) {
                margin-top: 0;
            }

            &:hover {
                cursor: pointer;
                text-shadow: -2px 2px 2px #b2e7ebcb;
            }
        }

        .clarification {
            margin-top: 20px;
            display: block;
            font-size: 12px;
        }
    }

    .footer {
        margin-top: 20px;
        border-top: 1px solid #fff;

        .footerContent {
            padding: 30px 0 16px;
            display: flex;
            justify-content: space-between;

            .title {
                padding-left: 0;
                @media screen and (max-width: 610px) {
                    font-size: 14px;;
                }
            }

            .link {
                display: block;
                color: #fff;
                text-decoration: none;
                margin-bottom: 8px;

                @media screen and (max-width: 610px) {
                    font-size: 12px;;
                }
            }
        }
    }
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}